$columns: 12;
* {
  box-sizing: border-box;
  border: 1px solid black;
}
.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  padding: 50px;
}
.calculator-body {
  width: 400px;
  height: 500px;
  margin: 0 auto;
}

.display-container {
  height:100px;
}
.full-operation {
  height:50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;

}
.current-value {
  height:50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px; 

}

.btn-container{
  height: 400px;
  display: flex;
  flex-flow: row wrap;
}

//Creates the grid system I will be using.
@for $i from 1 through $columns {
  .col-#{$i} {
    flex: 0 0 calc((100% / $columns) *$i);
  }
}
