$columns: 12;
* {
  box-sizing: border-box;
  font-family: monospace;
  font-weight: bold;
  border: 1px solid black;
}
.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  padding: 50px;
}
.calculator-body {
  width: 400px;
  height: 500px;
  margin: 0 auto;
}

.display-container {
  height:100px;
  background-color: black;
  font-size: 30px;

}
.full-operation {
  height:50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  color: yellow;

}
.current-value {
  height:50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px; 
  color: rgb(5, 172, 5);
}

.btn-container{
  height: 400px;
  display: flex;
  flex-flow: row wrap;
}

button[class^="col-"] {
  background-color: darkgray;
}

#clear {
  background-color: darkred;
  color: white;
}

#equals {
  background-color: rgb(25, 25, 102);
  color: white;
}


//Creates the grid system I will be using.
@for $i from 1 through $columns {
  .col-#{$i} {
    flex: 0 0 calc((100% / $columns) *$i);
  }
}
