$columns: 12;
* {
  box-sizing: border-box;
  font-family: 'Calculator', sans-serif, monospace;
  font-weight: bold;
  //border: 1px solid black;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  padding: 50px;
}

.calculator-body {
  width: 400px;
  height: 530px;
  margin: 0 auto;
  border: 10px solid black;
}

.display-container {
  height:100px;
  background-color: black;
  font-size: 35px;
  border: 5px ridge black;
}

.full-operation {
  height:46px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  color: yellow;
}
.current-value {
  height:45px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: rgb(5, 172, 5);
  padding-right: 10px;
}

.btn-container{
  height: 410px;
  display: flex;
  flex-flow: row wrap;
  border: 5px ridge black;
}

button:hover {
  color: white;
}

button[class^="col-"] {
  background-color: darkgray;
  font-size: 30px;
  border: 2px solid black;
}

#clear {
  background-color: darkred;
  color: white;
}

#clear:hover {
  color: orange;
}

#equals {
  background-color: rgb(25, 25, 102);
  color: white;
}

#multiply, #divide, #add, #subtract {
  color: white;
  background-color: rgb(55, 70, 29);
}

#equals:hover, #multiply:hover, #divide:hover, #subtract:hover, #add:hover {
  color: orangered;
}

//Creates the grid system I will be using.
@for $i from 1 through $columns {
  .col-#{$i} {
    flex: 0 0 calc((100% / $columns) *$i);
  }
}
